body {
  background-color: #e5c59e;
  margin: 20px 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.openhat {
  grid-area: 1 / 1 / 2 / 2;
}
.tom {
  grid-area: 1 / 2 / 2 / 3;
}
.ride {
  grid-area: 1 / 3 / 2 / 4;
}
.hihat {
  grid-area: 2 / 1 / 3 / 2;
}
.snare {
  grid-area: 2 / 2 / 3 / 3;
}
.tink {
  grid-area: 2 / 3 / 3 / 4;
}
.clap {
  grid-area: 3 / 1 / 4 / 2;
}
.kick {
  grid-area: 3 / 3 / 4 / 4;
}
.img {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
}

.openhat,
.tom,
.ride,
.hihat,
.snare,
.tink,
.clap,
.kick {
  background: #d9ae94;
  background-image: -webkit-linear-gradient(top, #d08c60, #b58463);
  background-image: -moz-linear-gradient(top, #d08c60, #b58463);
  background-image: -ms-linear-gradient(top, #d08c60, #b58463);
  background-image: -o-linear-gradient(top, #d08c60, #b58463);
  background-image: -webkit-gradient(to bottom, #d08c60, #b58463);
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  border-radius: 73px;
  color: #997b66;
  font-family: Verdana;
  font-size: 39px;
  font-weight: 600;
  padding: 51px;
  -webkit-box-shadow: 8px 9px 18px 2px #dd380d;
  -moz-box-shadow: 8px 9px 18px 2px #dd380d;
  box-shadow: 8px 9px 18px 2px #dd380d;
  text-shadow: 9px 7px 9px #5f1908;
  border: groove #dd380d 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.openhat:hover,
.tom:hover,
.ride:hover,
.hihat:hover,
.snare:hover,
.tink:hover,
.clap:hover,
.kick:hover {
  border: solid #b58463 1px;
  background: #d9ae94;
  background-image: -webkit-linear-gradient(top, #b58463, #d08c60);
  background-image: -moz-linear-gradient(top, #b58463, #d08c60);
  background-image: -ms-linear-gradient(top, #b58463, #d08c60);
  background-image: -o-linear-gradient(top, #b58463, #d08c60);
  background-image: -webkit-gradient(to bottom, #b58463, #d08c60);
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
  text-decoration: none;
}

.openhat:active,
.tom:active,
.ride:active,
.hihat:active,
.snare:active,
.tink:active,
.clap:active,
.kick:active {
  border: solid #a4a70b 3px;
  background: #555303;
  background-image: -webkit-linear-gradient(top, #555303, #997b66);
  background-image: -moz-linear-gradient(top, #555303, #997b66);
  background-image: -ms-linear-gradient(top, #555303, #997b66);
  background-image: -o-linear-gradient(top, #555303, #997b66);
  background-image: -webkit-gradient(to bottom, #555303, #997b66);
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
  text-decoration: none;
}

#tomBtn,
#tinkBtn,
#snareBtn,
#rideBtn,
#openHatBtn,
#kickBtn,
#hiHatBtn,
#clapBtn {
  background-color: #ffcb69;
  border: none;
  border-radius: 100px;
  color: #9b9b7a;
  padding: 60px 60px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}
